body{background-color: green;}
#grid{
    display: grid;
    margin-top: 20px;
}

.cell {
    width: 25px;
    height: 25px;
    border: 1px solid #ddd;
    background: white;
}

.start {
    background: brown;
}

.goal {
    background: green;
}

.wall {
    background: black;
}

.visited {
    background: lightblue;
}

.path {
    background: yellow;
}